@model PiesListViewModel


@foreach (var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h4 class="pull-right">@pie.Price.ToString("c")</h4>
                <h4>
                    <a>@pie.Name</a>
                </h4>
                <p>@pie.ShortDescription</p>
            <h4>
    @{
        if (pie.InStock)
        {
            <span style="color: green;" class="pull-left">In Stock</span>
        }
        else
        {
            <span style="color: red;" class="pull-left">Out of Stock</span>
        }
    }
            </h4>
            </div>
        </div>
    </div>
}
